<h4>Confirm your slot details</h4>

<p>Your name: {{ee_name}}</p>
<p>Date of Mock Test: {{slot}}</p>
<p>Interviewer Name: {{item}}

<form method="POST" action='/save_scheduled'>
    {% csrf_token %} 
    <input id="ee_id" name="ee_id" type="text" value={{user.uid_id}} hidden>
    <input id="ee_name" name="ee_name" type="text" value={{user.first_name}} hidden>
    <input id="er_name" name="er_name" type="text" value={{item}} hidden>
    <input id="slot_id" name="slot_id" type="text" value={{slot_id}} hidden>
    <input id="slot_time" name="slot_time" type="text" value={{slot}} hidden>
    <input type="submit" value="Make Payment">
</form>
<p><button><a href="/">Back</a></button></p>