<button type="submit"> <a href="signin">Back</a></button>

<h3>Interviewer Deatils</h3>
<p>First Name:{{basic.uid.first_name}}</p>
<p>Last Name:{{basic.uid.last_name}}</p>
<p>Email Address:{{basic.uid.email}}</p>
<p>Age:{{basic.Age}}</p>
<p>Experience:{{basic.Experience}}</p>
<p>About:{{basic.About_me}}</p>
<p>Domain:{{interviewer.pp}}</p>
<p>Price:{{basic.Price}}</p>
<hr>
<h3>Available Slots</h3>
{%for item in interviewer%}
<p>Available Slot:{{item.Slot_time}}</p>
<!--Send the requested date and Interviewee name to interviewer's Profile page-->
<form method="POST" action='/re'>
    {% csrf_token %} 
    <input id="ee_id" name="ee_id" type="text" value={{user.uid_id}} hidden>
    <input id="ee_name" name="ee_name" type="text" value={{user.first_name}} hidden>
    <input id="er_name" name="er_name" type="text" value={{item.uid.uid.first_name}} hidden>
    <input id="er_email" name="er_email" type="text" value={{item.uid.uid.email}} hidden>
    <input id="slot_id" name="slot_id" type="text" value={{item.id}} hidden>
    <input type="submit" value="Book">
</form>
{% endfor %}
